:root {
    /* Color Variables */
    --primary-color: #099BE0;
    --secondary-color: #323232;
    --white: #fff;
    --black: #000;
    --gray: #ddd;
    --light-gray: #f0f0f0;
    --dark-gray: #ccc;
    --hover-bg-color: rgb(40, 40, 40);
    --shadow-color: rgba(0, 0, 0, 0.2);

    /* Font Sizes */
    --font-size-small: 15px;
    --font-size-medium: 18px;
    --font-size-large: 20px;
    --font-size-Extralarge: 23px;

    /* Spacing */
    --header-height: 40px;
    --left-slider-width: 20%;
    --padding-small: 5px;
    --padding-medium: 10px;
    --padding-large: 20px;

    /* Other */
    --dropdown-height: 30px;
    --shadow: 0px 3px 5px grey;
    --border-radius: 4px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #d1d1d1;
    border-radius: 3px;
}

.grid-main-container .table-main-container .table-main-box::-webkit-scrollbar-track {
    background: #f1f1f1;
    margin-top: 29px !important;
}

.actions-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
    margin-bottom: 5px;
}

.autocomplete-input2 {
    padding: 0px;
    border: none;
    /* border-right: 1px solid var(--dark-gray); */
    background-color: var(--white);
    color: #0a0a0a;
    cursor: pointer;
    width: 100%;
}

.tooltip {
    position: absolute;
    background: #ffffff;
    color: #232323;
    padding: 5px;
    border-radius: 4px;
    z-index: 1000;
    width: auto;
    height: 110px;
    box-shadow: 0px 2px 7px grey;
}

.autocomplete-inputs {
    height: 22px;
    border: 1px solid #ccc;
}

.body {
    font-family: Arial, sans-serif;
    background-color: #dededf;
    margin: 0;
    padding: 0;
}

.buttons button {
    margin-left: 5px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #f1f1f1;
    background-color: #ffffff;
    cursor: pointer;
    color: #111111;
}

.buttons button:hover {
    margin-left: 5px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #f1f1f1;
    background-color: #f0f0f0;
    cursor: pointer;
}

.buttons button:disabled {
    background-color: #e0e0e0;
    cursor: default;
}

.main-card-container {
    background: #fcfefe;
    border: 1px solid #ddd;
    border-radius: 0px;
    padding: 20px;
    margin-bottom: 5px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.grid-main-container {
    width: 100%;
    height: 100%;
}

.column {
    flex: 1;
}

.column-control-panel {
    position: relative;
    display: inline-block;
}

.column-visibility-container {
    position: absolute;
    top: 33px;
    left: -80px;
    transform: translateX(-50%);
    padding: 10px;
    background-color: #fbfbfb;
    color: #313131;
    border-radius: 3px;
    white-space: nowrap;
    z-index: 150;
    box-shadow: 0px 1px 6px #7b7b7b;
}

.column-header-filters-box {
    position: absolute;
    top: 26px;
    padding: 2px;
    background-color: #ffffff;
    color: #313131;
    border-radius: 3px;
    white-space: nowrap;
    z-index: 10;
    box-shadow: 0px 1px 6px #7b7b7b;
    border: 1px solid azure;
}

.column-header-filters-box .column-filters-dropdown {
    margin: 5px;
}

.column-header-filters-box .column-filters-dropdown .clear-input-button {
    color: #000;
    background-color: #fff;
    font-size: 15px;
    border: none;
    outline: none;
    transform: translateY(2px);
}

.custom-grid {
    background-color: #f3f3f3;
    margin-top: 0px;
    border-collapse: collapse;
}

.custom-grid-header {
    position: sticky;
    top: 0;
    display: block;
    z-index: 111;
}

.custom-grid-header .table-columnHeader-name {
    position: absolute;
    margin-top: 2px;
}

.custom-grid-header .columnHeader-filters-btn-container {
   display: flex;
   justify-content: end;
   position: relative;
}

.custom-grid-body {
    min-height: 460px;
    display: block;
}

.inner-column-visibility {
    max-height: 255px;
    text-align: left;
    /* padding: 5px; */
    overflow-y: scroll;
}

.inner-column-visibility .checkbox-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 4px;
    font-size: 13px;
}

.inner-column-visibility input {
    margin-right: 8px;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    gap: 5px;
    overflow-y: scroll;
    height: 466px;
}

.date {
    color: #888;
    font-size: 0.85rem;
}

.DatePicker-custom {
    font-weight: 100;
}

.form-block {
    display: block;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
    background: white;
    border-radius: 2px;
    border-left: 2px solid #bab9b9;
    border-right: 2px solid #bab9b9;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
    background: white;
    border-radius: 2px;
    border-left: 2px solid #bab9b9;
    border-right: 2px solid #bab9b9;
    border-top: 2px solid #bab9b9;
}

.form-grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
    background: white;
    border-radius: 2px;
    border-left: 2px solid #bab9b9;
    border-right: 2px solid #bab9b9;
    border-bottom: 2px solid #bab9b9;
}

.table-main-container {
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
    border: 1px solid #bab9b9;
    overflow: hidden;
    width: 100%;
    height: 94%;
}

.grid-main-container .table-main-container .table-main-box {
    overflow-y: scroll;
    position: relative;
    height: 100%;
}

.table-main-container input,
textarea {
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.table-main-container label {
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.headingbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.headingbuttons {
    margin-top: -20px;
}

.editable-input {
    width: 97%;
    height: 100%;
    font-size: 12px;
    border-radius: 0px !important;
    border: 1px solid #ccc;
}

.editable-input:focus {
    border: 1px solid #ccc !important;
    outline: none !important;
}

h2 {
    font-size: 15px;
    margin-bottom: 8px;
    margin-top: 0px;
}

.list {
    padding: 12px;
    box-shadow: 0px 0px 2px grey;
    background: white;
}

.list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.list-item input {
    margin-right: 10px;
}

.pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.pagination {
    display: flex;
    justify-content: right;

}

.pagination button {
    font-size: 13px;
    background: white;
    border: 1px solid #bebebe;
    border-radius: 3px;
    color: #242323;
    margin-right: 5px;
    height: 30px;
}

.pagination button:disabled {
    background-color: light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3));
    color: light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
    border-color: light-dark(rgba(118, 118, 118, 0.3), rgba(195, 195, 195, 0.3));
}

.pagination select {
    padding: 5px 10px;
    margin-right: 10px;
    border: 1px solid #c4c2c2;
    border-radius: 3px;
}

.pagination select:focus {
    outline: none;
}

.pagination span {
    font-size: 13px;
    margin-right: 10px;
    margin-top: 3px;
    width: 100px;
}

.search-box {
    position: relative;
}

.search-box input {
    padding-left: 30px;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" viewBox="0 0 24 24" height="16" width="16"><path d="M11 4a7 7 0 100 14 7 7 0 000-14z" /><path d="M21 21l-4.35-4.35" /></svg>') no-repeat left 10px center;
    background-size: 16px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 22px;
    position: relative;
}

.clear-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 14px;
}



.sticky-column {
    position: sticky;
    left: 0;
    background: #fbfbfb;
    z-index: 9;
    min-width: 20px;
}

.sticky-columns {
    position: sticky;
}

.stripedRow {
    background-color: #ffffff;
}

.table-row {
    background-color: #f6f6f6;
}

.th-tab {
    box-shadow: 0px 0px 2px silver;
    text-align: left;
    font-weight: 500;
    vertical-align: middle;
    border-right: 1px solid #ccc
}

.th {
    box-shadow: 0px 0px 4px silver;
    background: #f5f5f5;
    font-size: small;
    text-align: left;
}

.three-dots-icon {
    float: right;
    border-radius: 50px;
    padding-left: 8px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 2px;
}

.three-dots-icon:hover {
    float: right;
    background: #e0e0e0;
    border-radius: 50px;
    padding-left: 8px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 2px;
    cursor: pointer;
}

tr {
    border-bottom: 1px solid silver;
    font-size: 12px;
}

.table-actionbtn {
    cursor: pointer;
    border: 1px solid #085a99;
}

.btnsort {
    float: none;
    height: 20px;
    width: 25px;
    cursor: pointer;
    border-radius: 40px;
    padding: 2px;
}

.btnfilter {
    float: right;
    height: 20px;
    width: 25px;
    margin-left: 2px;
    cursor: pointer;
    border-radius: 40px;
    padding: 2px;
}

.btnsort:hover {
    float: none;
    border: 1px solid rgb(252, 252, 252);
    height: 20px;
    width: 25px;
    cursor: pointer;
    background-color: #f7f7f7;
}

.btnfilter:hover {
    float: right;
    border: 1px solid rgb(255, 255, 255);
    height: 20px;
    width: 25px;
    margin-left: 2px;
    cursor: pointer;
    background-color: #f7f7f7;
}

.select-container::after {
    display: none;
    /* No line break by default */
}

.flex-container {
    display: flex;
    align-items: center;
    gap: 10px;
    /* Adjust spacing between elements as needed */
}

.kyc-table tr td:first-child {
    font-size: 13px;
    font-weight: 500;
}

.kyc-table tr td {
    font-size: 13px;
}

.profile-card {
    display: flex;
    align-items: center;
    /* border: 1px solid #000; */
    padding: 10px;
    width: 400px;
}

.avatar {
    width: 50px;
    height: 50px;
    background-color: rgb(58, 58, 58);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    margin-top: -40px;
}

.icon-overlap {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
    width: 18px;
    height: 18px;
    border: 1px solid #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.user-info {
    flex-grow: 1;
    margin-top: -36px;
}

.user-info h3 {
    margin: 0;
    font-size: 16px;
}

.user-info p {
    margin: 0;
    font-size: 12px;
    color: grey;
}

.buttons-container {
    display: flex;
    align-items: center;
    margin-top: 47px;
    margin-left: -21px;
}

.action-button {
    width: 40px;
    height: 40px;
    /* border: 1px solid #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    cursor: pointer;
}

.action-button:hover {
    width: 40px;
    height: 40px;
    /* border: 1px solid #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    cursor: pointer;
    background-color: #e2dfdf;
}

.detailed-view-btn {
    margin-top: 10px;
    background-color: #E0EBFF;
    border: 1px solid #000;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 12px;
}

.popup-mainconatiner {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    gap: 10px;
    max-height: 400px;
    overflow-y: auto;
    scrollbar-width: 5px;
    padding-right: 5px;
}

.column-inputs-container {
    text-align: left;
}

.column-inputs-delete-container {
    text-align: left;
    margin-top: 2px;
}

.popup-button-delete-container {
    display: flex;
    justify-content: end;
}

.popup-ActionTitle {
    color: #454545;
    font-size: 13px;
    font-weight: 500;
    text-align: left;
}

.popup-inner-container {
    align-items: center;
    display: flex;
    gap: 10px !important;
    row-gap: 10px;
    border-spacing: 0 10px;
    ;
}

.popup-ActionLabel {
    color: #3d3b3b;
    width: 100px;
    text-align: left;
}

.popup-ActionInput {
    border: 1px solid silver;
    border-radius: 4px;
    color: #3d3b3b;
    flex: 1 1;
    padding: 3px;
}

.popup-button-container {
    float: right;
}

.popup-ActionButton {
    background: #1080b5;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 8px 19px;

    margin-top: 20px;
}

.popup-ActionButton:hover {
    box-shadow: 0px 1px 4px #000000;
}

.footer {
    font-size: 13px;
    width: 300px;
    text-align: left;
}

.search-input2 {
    border: 1px solid #ccc;
}

.search-input2:focus {
    outline: none;
    border: 1px solid #ccc;
}

.react-datepicker__close-icon::after {
    height: 10px !important;
    width: 10px !important;
}

.popup-ActionLabel {
    width: 40%;
    color: rgb(61, 59, 59);
}



.searchBoxInput:focus {
    outline: none;
}

select.autocomplete-input2:focus-visible {
    outline: none;
}

button:not(:disabled) {
    cursor: pointer;
}


.main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.main-container.sidebar-hidden .leftslider {
    max-width: 60px;
}

.main-container.sidebar-hidden .leftslider .schedule {
    max-width: 60px;
    display: grid;
    margin-left: -5px;
    row-gap: 5px;
}

.main-container.sidebar-hidden .leftslider .menuSection .menuButton .menuText {
    display: none;
}

.main-container.sidebar-hidden .content-container {
    margin-left: 0px;
}

/* Header Section */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    background-color: var(--primary-color);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    box-shadow: var(--shadow);
    flex: 0 0 100%;
}

.app-header {
    display: flex;
    align-items: center;
    padding: var(--padding-medium);
    color: var(--white);
}

.header-title {
    margin-right: var(--padding-large);
}

.title-link {
    color: var(--white);
    text-decoration: none;
    font-weight: 600;
    font-size: var(--font-size-Extralarge);
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: var(--white);
    border-radius: var(--border-radius);
    overflow: hidden;
    margin-left: 20px;
    box-shadow: 0px 0px 2px grey;
}

.autocomplete-input {
    padding: var(--padding-small);
    border: none;
    border-right: 1px solid var(--dark-gray);
    background-color: var(--white);
    width: 200px;
    /* Adjust width for dropdown */
    color: #099BE0;
    cursor: pointer;
}

.search-input {
    flex-grow: 1;
    padding: var(--padding-small);
    border: none;
    outline: none;
}

.search-button {
    background-color: var(--black);
    color: var(--white);
    border: none;
    padding: 5px;
    cursor: pointer;
}

.search-button:hover {
    background-color: var(--dark-gray);
}

.search-button::before {
    font-size: var(--font-size-medium);
}



.icon-buttons {
    display: flex;
    align-items: center;
    margin-left: var(--padding-medium);
}

.icon-button {
    color: var(--white);
    font-size: var(--font-size-medium);
    margin-left: var(--padding-medium);
    cursor: pointer;
    padding: 2px 9px !important;
    background-color: #39B0E5;
    border: 1px solid #39B0E5;
    border-radius: 5px;
}

.icon-button:hover {
    background-color: #59c4f2;
}

.text-button {
    background: none;
    border: none;
    color: var(--white);
    margin-left: var(--padding-medium);
    cursor: pointer;
    padding: 10px;
    border-radius: var(--border-radius);
}

.text-button:hover {
    background-color: #52b9e6;
    padding: 10px;
}

.account-settings {
    position: relative;
    margin-left: var(--padding-large);
}

.account-button {
    background: none;
    border: none;
    color: var(--white);
    cursor: pointer;
    width: 200px;
}

.dropdown-menu {
    position: absolute;
    top: var(--dropdown-height);
    right: 0;
    background-color: var(--white);
    color: var(--black);
    border-radius: var(--border-radius);
    box-shadow: 0 2px 10px var(--shadow-color);
    z-index: 1;
}

.dropdown-item {
    padding: 8px;
    font-size: 13px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: var(--light-gray);
}

.dropdown-divider {
    height: 1px;
    background-color: var(--gray);
    margin: var(--padding-small) 0;
}

/* (LeftSlider) */
.leftslider {
    margin-top: var(--header-height);
    /* Account for the header */
    max-width: 230px;
    background-color: var(--secondary-color);
    height: calc(100vh - var(--header-height));
    overflow-y: auto;
    padding: var(--padding-medium);
    box-shadow: 2px 0 5px #0000001a;
    transition: max-width 0.3s ease;
    scrollbar-width: none;
}

.schedule {
    justify-content: center;
    display: flex;
}

.menuSection button {
    background: none;
    border: none;
    padding: var(--padding-small);
    text-align: left;
    width: 100%;
    color: var(--white);
    margin-left: 6px;
}

.menuSection button:hover {
    background-color: var(--hover-bg-color);
    cursor: pointer;
    color: #ddd;
}

.menuSection button .menuIcon {
    margin-right: var(--padding-medium);
    font-size: 25px;
}

.menuText {
    /* display: ; */
    position: relative;
    top: -6px;
}

.ls-iconButton {
    margin-left: var(--padding-medium);
    font-size: 17px;
}

.ls-iconButton:hover {
    box-shadow: 0px 0px 3px #D7ECF9;
    border: 1px solid #39B0E5;
}

/* Main content Section */
.content-container {
    flex-grow: 1;
    margin-top: var(--header-height);
    /* Account for the header */
    padding: var(--padding-large);
    background-color: whitesmoke;
    width: calc(100% - var(--left-slider-width));
    overflow-y: auto;
    height: calc(100vh - var(--header-height));
    flex: 1;
    transition: margin-left 0.3s ease;
}

.TopContent {
    background: transparent;
}

.m-membername {
    font-size: small;
    color: #085a99;
    font-family: monospace;
}

.m-button-icon {
    float: right;
    margin-top: -50px;
}

.m-button-style {
    background-color: whitesmoke;
    color: "#fff";
    cursor: pointer;
    border: 1px solid #ffffff;
    margin: 0px 2px;
}

.m-iconStyle {
    font-size: var(--font-size-small);
}

.NestedTabs {
    background-color: transparent;
    height: auto;
}

.m-n-container {
    padding: 1;
    box-shadow: 1px 1px 1px grey;
}

.m-n-parenttabs {
    margin-bottom: 0px;
    display: flex;
    cursor: pointer;
    padding-top: 10;
}

.m-n-childtabs {
    display: flex;
    cursor: pointer;
    color: var(--white);
    background: #D7ECF9;
}

.m-n-outer-childdata {
    padding: 5px;
    background: #D7ECF9;
    height: 485px;
}

.m-n-inner-childdata {
    padding: 0px;
    background: var(--white);
    height: 466px;
}

.BottomContent {
    background: transparent;
}

.m-b-container {
    background: transparent;
}

.custom-select-container {
    border: 1px solid #B3B6AF;
    border-radius: 3px;
    width: 100%;
}

select.autocomplete-inputs {
    border: none;
    width: 100%;
    padding: 0px !important;
}

.main-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 25px;
    background: #1080b5;
    color: white;
    z-index: 10;
}

.popup-mainconatiner {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 12px;
}

.popup-inner-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.popup-ActionTitle {
    font-size: 16px;
    font-weight: 500;
    color: #282828;
}

.popup-ActionLabel {
    width: 40%;
    color: rgb(61, 59, 59);
}

.popup-ActionInput {
    flex: 1 1 0%;
    padding: 3px;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    color: rgb(61, 59, 59);
}


.table-title h2 {
    color: #383838;
}

svg.lucide {
    height: 15px !important;
    width: 15px !important;
}

/* Responsive code */
@media (max-width: 768px) {

    .actions-container {
        display: inline-block;
    }

    .column-visibility-container {
        width: 200px;
    }

    .column-header-filters-box {
        position: absolute;
        top: 25px;
        /* left: -310%; */
        transform: translateX(-50%);
        padding: 2px;
        background-color: #fbfeff;
        color: #313131;
        border-radius: 3px;
        white-space: nowrap;
        z-index: 10;
        box-shadow: 0px 1px 6px grey;
        width: 140px;
    }

    .buttons.headerbuttons {
        display: inherit;
        margin-top: 10px;
    }

    .table-title {
        display: none;
    }

    .search-bar {
        display: flex;
        align-items: center;
        background-color: var(--white);
        border-radius: var(--border-radius);
        overflow: hidden;
        margin-left: 20px;
        box-shadow: 0px 0px 2px grey;
        width: 100%;
    }



    .search-input2 {
        flex-grow: 1;
        padding: var(--padding-small);
        border: 1px solid #ccc;
        outline: none;
        width: 95px;
        border-radius: 3px;
    }

    .search-input2:focus {
        outline: none;
        border: 1px solid #ccc;
    }

    .select-container::after {
        display: block;
        /* Add a line break on smaller screens */
    }

    .flex-container {
        flex-direction: column;
        align-items: flex-start;
        /* Adjust alignment as needed */
    }

    .autocomplete-input2 {
        padding: var(--padding-small);
        border: none;
        /* border-right: 1px solid var(--dark-gray); */
        background-color: var(--white);
        color: #0a0a0a;
        cursor: pointer;
        width: 100%;
        padding: 0px;
    }

    .DatePicker-custom {

        font-weight: 100;
        width: 95px;
    }

    .schedule {
        justify-content: center;
        display: grid;
    }

    .autocomplete-input {
        padding: var(--padding-small);
        border: none;
        border-right: 1px solid var(--dark-gray);
        background-color: var(--white);
        width: 138px;
        color: #099BE0;
        cursor: pointer;
    }

    .search-input {
        flex-grow: 1;
        padding: var(--padding-small);
        border: none;
        outline: none;
        width: 99px;
    }

    .text-button {
        background: none;
        border: none;
        color: var(--white);
        margin-left: var(--padding-medium);
        cursor: pointer;
        padding: 10px;
        border-radius: var(--border-radius);
        display: none;
    }

    .ls-iconButton {
        margin-left: 0px;
        font-size: 25px;
        margin-top: 10px;
        padding: 5px;
    }

    .menuSection button .menuIcon {
        margin-right: 0px;
        font-size: 25px;
    }

    .menuText {
        display: none;
        /* Hide the text on small screens */
        justify-content: center;
    }

    .menuButton {
        display: grid;
        justify-content: center;
        /* Center the icons when text is hidden */
    }

    /* //Main */
    .m-button-icon {
        margin-top: -90px;
        float: inline-start;
    }

    .icon-buttons {
        display: none;
    }


    .search-bar {
        display: flex;
        align-items: center;
        background-color: var(--white);
        border-radius: var(--border-radius);
        overflow: hidden;
        margin-left: 5px;
        box-shadow: 0px 0px 2px grey;
        width: 100%;
    }

    .icon-button {
        color: var(--white);
        font-size: var(--font-size-medium);
        margin-left: var(--padding-small);
        cursor: pointer;
        /* padding: 2px 9px !important; */
        background-color: #39B0E5;
        border: 1px solid #39B0E5;
        border-radius: 5px;
    }

    .account-button {
        display: none;
    }

    .title-link {
        font-size: large;
        margin-left: 40px;
    }

    .content-container {
        flex-grow: 1;
        margin-top: 50px;
    }

    .m-button-icon {
        padding-top: 16px;
    }

    .menuSection button {
        background: none;
        border: none;
        padding: var(--padding-small);
        text-align: left;
        width: 100%;
        color: var(--white);
        margin-left: -4px;
    }

}